
body {
    margin: o;
    height: 100hv;
  }
  
  .grid-container{
  
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5.5fr 1.5fr;
    grid-template-areas:
  
      "cabecalho   menu"
      "logo        main"
      "descricao   main";
    
  }
  
  main
  {
    grid-area: main;
    background: black;
  }